
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                              Header                                       */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    background: var(--background);
    padding: 5px 20px;
    margin-bottom: 10px;
}

.logo {
    width: 60px;
    margin-top: 8px;
}

nav {
    width: 100%;
    height: 56px;
    padding: 8px 0 0 100px;
}
  
nav .nav-list {
    list-style: none;
}
  
nav .nav-list li {
    display: inline;
    line-height: 46px;
    padding-left: 5px;
  
    a {
        text-decoration: none;
        color: #000000;
        font-size: 1.8rem;
        font-weight: 400;
        &:hover {
            color: var(--font-color);
            transition: color 0.25s ease-in-out; 
        }
    }
  }
  
  .nav-list li + li {
    margin-left: 16px;
  }
  
  .search-bar {
    align-items: center;
  }
  
  .search {
    width: 200px;
    height: 38px;
    padding: 0 15px 0 40px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    background: #fff url(../media/search.png) no-repeat 10px 11px;
    background-size: 16px;
  
    &:focus {
        border: 1px solid #000;
    }
  }

.profile-corner {
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding-top: 8px;
}   

.profile-img-small {
    border-radius: 50%;
}

/*  Main Feed  */

.main-feed {
    flex: 0 0 calc(55% - 20px);
    max-width: calc(55% - 20px);
}

form { 
    background-color: var(--background);
    padding: 10px;
    border-radius: 8px;
    text-align: left;

    textarea { 
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        color: #000;
        resize: none;

        &::placeholder { 
            color: #B0B3B8;
        }
    }

    .post-options { 
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        label { 
                cursor: pointer;
                font-size: 20px;
        }
        
        input[type="file"] { 
            display: none;
        }

        button { 
            height: 40px;
            width: 50px;
            border: none;
            padding: 8px;
            font-size: 1.6rem;
            line-height : 1.8;
            border-radius: 8px;
            background-color: #fff;
            color: var(--font-color);

            &:hover {
                border: 1px solid var(--font-color);
            }
        }
    }
}

.post {
    background-color: var(--background); 
    border-radius: 8px;
    margin-top: 20px; 
    padding: 15px;
    text-align: left; 
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post-author-info {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.post-author-pic {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    background-image: url('../media/luigi-profile.png'); 
    background-size: cover;
    background-position: center;
}

.post-author-name {
    font-weight: 700;
}

.post-date {
    font-size: 0.85em;
    color: #B0B3B8;
}

.content {
    margin-bottom: 10px;
    line-height: 1.4; 
}

.display-image {
    border-radius: 8px;
    overflow: hidden; 
    max-width: 100%;

    img {
        display: block; 
        width: 100%; 
        height: auto; 
    }
}

.interactive {
    height: 26px;

    div + div {
        margin-left: 12px;
    }

    i {
        margin-right: 4px;
    }
}

.recommended {
    flex: 0 0 calc(20%);
    max-width: calc(20%);

    div {
        width: 100%;
        height: 50px;
        background-color: var(--background);
    }

    h2 {
        font-size: 16px;
    }

    ul {
        width: 100%;
        margin-top: 10px;
    }

    li {
        width: 100%;
        height: 100px;
        background-color: var(--background);
        padding: 10px;
        
        .pic-container {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .pic {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: red;
        }

        .info {
            width: 100px;
        }

        .name {
            font-size: 16px;
            font-weight: 700;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .add {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid var(--alternate-font);
            color: var(--alternate-font);
            background-color: var(--alternate-background);
        }
    }

    .button-container {
        height: 60px;
        padding: 10px;
    }
    
    .see-all {
        width: 100%;
        background-color: #fff;
        color: var(--font-color);
        padding: 8px;
        border-radius: 8px;
        font-size: 1.6rem;
        line-height : 1.8;

        &:hover {
            border: 1px solid var(--font-color);
        }
    }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                        Left-Profile Column                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.left-profile {
    background-color: var(--background);
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-img {
    width: 200px;
    margin-top: 20px;
    height: auto;
    border-radius: 50%;
}

.profile-link {
    margin: 10px 0 15px 0;
    gap: 5px;
    
    i {
        margin-top: 4px;
    }
}

.profile-count {
    margin: 15px 0 50px 0;
}

.profile-name {
    font-size: 2.5rem;
    font-weight: 700;
}

.big-number {
    font-size: 2.5rem;
    font-weight: 700;
}

.premium-button {
    margin: 15px 0 25px 0;
    border-radius: 30px;
    text-align: center;
    padding: 8px 8px;
    width: 200px;
    height: 50px;
    font-size: 1.6rem;
    line-height : 1.8;
    color: var(--font-color);
    background-color: #fff;

    &:hover {
      border: 1px solid var(--font-color);
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                              Footer                                       */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    height: 60px;
    margin-top: 10px;
    color: #000;                                                
    background-color: var(--alternate-background);
  
    ul li{
        display: inline;
  
        a {
            text-decoration: none;
            height: 40px;
            width: 40px;
            padding: 5px;
            border-radius: 50%;
            font-size: 1.6rem;
            background-color: #fff;
            backdrop-filter: blur(100px) saturate(140%);
            height: 30px;
            width: 30px;
            border: 1px solid #dcdcdc;
            position: relative;
            right: 2px;
  
            i {
                color: #000;
                line-height: 1.2;
  
                &:hover {
                    color: var(--font-color);
                    transition: color 0.25s ease-in-out; 
                }
            }
        }
    }
  }
